
<!doctype html>
{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<body>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
<input type=file name=file>
<input type=submit value=Upload>
</form>
<br>
<!--Attack on Titan-->
<div class="row">
<script>
function attackontitanplay(){
    var audio = document.getElementById("attackontitan");
    attackontitan.play();
                }
function attackontitanpause(){
    var audio = document.getElementById("attackontitan");
    attackontitan.pause();
                }
</script>
<div class="column">
<img src="uploads/attackontitan.jpg" width=250 height=250 value="PLAY"  onclick="ToggleAttack();">
</div>
<audio id="attackontitan" src="uploads/attackontitan.mp4" ></audio>
 <script>
var attackontitan = document.getElementById("attackontitan");
function ToggleAttack() {
  return attackontitan.paused ? attackontitan.play() : attackontitan.pause();
};
 </script>
 <audio id="attackontitan" src="uploads/attackontitan.mp4" preload="auto">
 </audio>
 <br>
 <button onClick="ToggleAttack()">Play/Pause</button>
</div>
  <!--Knights of Sidonia-->
<script>
function knightsofsidoniaplay(){
    var audio = document.getElementById("knightsofsidonia");
    knightsofsidonia.play();
                }
function knightsofsidoniapause(){
    var audio = document.getElementById("knightsofsidonia");
    knightsofsidonia.pause();
                }
</script>
<div class="column">
<img src="uploads/knightsofsidonia.jpg" width=250 height=250 value="PLAY"  onclick="ToggleKnights();">
</div>
<audio id="knightsofsidonia" src="uploads/knightsofsidonia.mp4" ></audio>
 <script>
var knightsofsidonia = document.getElementById("knightsofsidonia");
function ToggleKnights() {
  return knightsofsidonia.paused ? knightsofsidonia.play() : knightsofsidonia.pause();
};
 </script>
 <audio id="knightsofsidonia" src="uploads/knightsofsidonia.mp4" preload="auto">
 </audio>
 <br>
 <button onClick="ToggleKnights()">Play/Pause</button>
</div>
  <!--JoJo's Bizarre Adventuree-->
{% endblock %}
</body>
</html>