
<!doctype html>
{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<body>
<!-- I'll worry about this later
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
<input type=file name=file>
<input type=submit value=Upload>
</form> -->
<h3>Touch an image!</h>
<div>
<br>
<!--Attack on Titan-->
<div class="row">
<script>
function attackontitanplay(){
    var audio = document.getElementById("attackontitan");
    attackontitan.play();
                }
function attackontitanpause(){
    var audio = document.getElementById("attackontitan");
    attackontitan.pause();
                }
function attackontitanrestart(){
    var audio = document.getElementById("attackontitan");
    attackontitan.pause();
    attackontitan.currentTime = 0
                }
</script>
<div class="row">
<img src="uploads/attackontitan.jpg" width=250 height=250 value="PLAY"  playsinline ontouchstart="touchAvailable=true; ToggleAttack();" onclick="if(!touchAvailable) ToggleAttack();">
</div>
<audio id="attackontitan" src="uploads/attackontitan.mp4" playsinline></audio>
 <script>
var attackontitan = document.getElementById("attackontitan");
function ToggleAttack() {
  return attackontitan.paused ? attackontitan.play() : attackontitan.pause();
};
function ToggleRestartAttack() {
  return attackontitan.paused ? attackontitan.pause() : attackontitan.currentTime = 0;
}
</script>
<audio id="attackontitan" src="uploads/attackontitan.mp4" playsinline preload="auto">
</audio>
<button ontouchstart="touchAvailable=true; ToggleAttack();" onclick="if(!touchAvailable) ToggleAttack();">Play/Pause</button>
<button ontouchstart="touchavailable=true; ToggleRestartAttack();" onclick="if(!touchAvailable) ToggleRestartAttack();">Restart</button>
<br>
<br>
<!--attack on titan season 4-->
<div class="row">
  <script>
  function attackontitanseason4play(){
      var audio = document.getElementById("attackontitanseason4");
      attackontitanseason4.play();
                  }
  function attackontitanseason4pause(){
      var audio = document.getElementById("attackontitanseason4");
      attackontitanseason4.pause();
                  }
  </script>
   <div class="column">	
  <img src="uploads/attackontitanseason4.jpg" width=250 height=250 value="PLAY"  playsinline ontouchstart="touchAvailable=true; ToggleAttackSeason4();" onclick="if(!touchAvailable) ToggleAttackSeason4();">
  </div>
  <audio id="attackontitanseason4" src="uploads/attackontitanseason4.mp4" playsinline></audio>
  <script>
  var attackontitanseason4 = document.getElementById("attackontitanseason4");
  function ToggleAttackSeason4() {
    return attackontitanseason4.paused ? attackontitanseason4.play() : attackontitanseason4.pause();
  };
  </script>
  <audio id="attackontitanseason4" src="uploads/attackontitanseason4.mp4" playsinline preload="auto">
  </audio>
  <button ontouchstart="touchAvailable=true; ToggleAttackSeason4();" onclick="if(!touchAvailable) ToggleAttackSeason4();">Play/Pause</button>
  </div>

<!--Knights of Sidonia-->
<script>
function knightsofsidoniaplay(){
    var audio = document.getElementById("knightsofsidonia");
    knightsofsidonia.play();
                }
function knightsofsidoniapause(){
    var audio = document.getElementById("knightsofsidonia");
    knightsofsidonia.pause();
                }
</script>
<div class="column">
<br>
<img src="uploads/knightsofsidonia.jpg" width=250 height=250 value="PLAY"  ontouchstart="touchAvailable=true; ToggleKnights();" onclick="if(!touchAvailable) ToggleKnights();">
</div>
<audio id="knightsofsidonia" src="uploads/knightsofsidonia.mp4" playsinline></audio>
 <script>
var knightsofsidonia = document.getElementById("knightsofsidonia");
function ToggleKnights() {
  return knightsofsidonia.paused ? knightsofsidonia.play() : knightsofsidonia.pause();
};
 </script>
 <audio id="knightsofsidonia" src="uploads/knightsofsidonia.mp4" playsinline preload="auto">
 </audio>
 <script> touchAvailable = false; </script>
<button ontouchstart="touchAvailable=true; ToggleKnights();" onclick="if(!touchAvailable) ToggleKnights();">Play/Pause</button>
<br>
<!--JoJo's Bizarre Adventure-->
<!--Berserk-->
<script>
  function berserkfightplay(){
      var audio = document.getElementById("berserkfight");
      berserkfight.play();
                  }
  function berserkfightpause(){
      var audio = document.getElementById("berserkfight");
      berserkfight.pause();
                  }
  </script>
  <br>
  <img src="uploads/berserkfight.jpg" width=250 height=250 value="PLAY"  ontouchstart="touchAvailable=true; ToggleBerserkFight();" onclick="if(!touchAvailable) ToggleBerserkFight();">
  </div>
  <audio id="berserkfight" src="uploads/berserkfight.mp4" playsinline></audio>
   <script>
  var berserkfight = document.getElementById("berserkfight");
  function ToggleBerserkFight() {
    return berserkfight.paused ? berserkfight.play() : berserkfight.pause();
  };
   </script>
   <audio id="berserkfight" src="uploads/berserkfight.mp4" playsinline preload="auto">
   </audio>
   <script> touchAvailable = false; </script>
  <button ontouchstart="touchAvailable=true; ToggleBerserkFight();" onclick="if(!touchAvailable) ToggleBerserkFight();">Play/Pause</button>
  <br>
  
  <script>
    function gutssoundtrackplay(){
        var audio = document.getElementById("gutssoundtrack");
        gutssoundtrack.play();
                    }
    function gutssoundtrackpause(){
        var audio = document.getElementById("gutssoundtrack");
        gutssoundtrack.pause();
                    }
    </script>
    <br>
    <img src="uploads/gutssoundtrack.jpg" width=250 height=250 value="PLAY"  ontouchstart="touchAvailable=true; ToggleGutsSoundtrack();" onclick="if(!touchAvailable) ToggleGutsSoundtrack();">
    </div>
    <audio id="gutssoundtrack" src="uploads/gutssoundtrack.mp4" playsinline></audio>
     <script>
    var gutssoundtrack = document.getElementById("gutssoundtrack");
    function ToggleGutsSoundtrack() {
      return gutssoundtrack.paused ? gutssoundtrack.play() : gutssoundtrack.pause();
    };
     </script>
     <audio id="gutssoundtrack" src="uploads/gutssoundtrack.mp4" playsinline preload="auto">
     </audio>
     <script> touchAvailable = false; </script>
    <button ontouchstart="touchAvailable=true; ToggleGutsSoundtrack();" onclick="if(!touchAvailable) ToggleGutsSoundtrack();">Play/Pause</button>
    <br>
<!--Bleach-->
<script>
  function bleachplay(){
      var audio = document.getElementById("bleach");
      bleach.play();
                  }
  function bleachpause(){
      var audio = document.getElementById("bleach");
      bleach.pause();
                  }
  </script>
  <br>
  <img src="uploads/bleach.png" width=250 height=250 value="PLAY"  ontouchstart="touchAvailable=true; ToggleBleach();" onclick="if(!touchAvailable) ToggleBleach();">
  <div class="column">	
  <audio id="bleach" src="uploads/bleachtheme.mp4" playsinline></audio>
   <script>
  var bleach = document.getElementById("bleach");
  function ToggleBleach() {
    return bleach.paused ? bleach.play() : bleach.pause();
  };
   </script>
   <audio id="bleach" src="uploads/bleachtheme.mp4" playsinline preload="auto">
   </audio>
   <script> touchAvailable = false; </script>
  <button ontouchstart="touchAvailable=true; ToggleBleach();" onclick="if(!touchAvailable) ToggleBleach();">Play/Pause</button>
  <br>
<!-- Alway's Sunny -->
<script>
  function anothermansskinplay(){
    var audio = document.getElementById("anothermansskin");
    anothermansskin.play();
                }
  function anothermansskinpause(){
    var audio = document.getElementById("anothermansskin");
    anothermansskin.pause();
                }
  </script>
  <br>
  <img src="uploads/getoff.gif" width=250 height=250 value="PLAY"  ontouchstart="touchAvailable=true; ToggleGetOff();" onclick="if(!touchAvailable) ToggleGetOff();">
  </div>
   <div class="column">	
  <audio id="anothermansskin" src="uploads/anothermansskin.mp4" playsinline></audio>
  <script>
  var anothermansskin = document.getElementById("anothermansskin");
  function ToggleGetOff() {
  return anothermansskin.paused ? anothermansskin.play() : anothermansskin.pause();
  };
  </script>
  <audio id="anothermansskin" src="uploads/anothermansskin.mp4" playsinline preload="auto">
  </audio>
  <script> touchAvailable = false; </script>
  <button ontouchstart="touchAvailable=true; ToggleGetOff();" onclick="if(!touchAvailable) ToggleGetOff();">Play/Pause</button>
  <br>

<script>
function metaljerkplay(){
    var audio = document.getElementById("metaljerk");
    metaljerk.play();
                }
function metaljerkpause(){
    var audio = document.getElementById("metaljerk");
    metaljerk.pause();
                }
</script>
<br>
<img src="uploads/metaljerk.jpg" width=250 height=250 value="PLAY"  ontouchstart="touchAvailable=true; ToggleMetalJerk();" onclick="if(!touchAvailable) ToggleMetalJerk();">
</div>
  <div class="column">	
<audio id="metaljerk" src="uploads/metaljerk.mp4" playsinline></audio>
 <script>
var metaljerk = document.getElementById("metaljerk");
function ToggleMetalJerk() {
  return metaljerk.paused ? metaljerk.play() : metaljerk.pause();
};
 </script>
 <audio id="metaljerk" src="uploads/metaljerk.mp4" playsinline preload="auto">
 </audio>
 <script> touchAvailable = false; </script>
<button ontouchstart="touchAvailable=true; ToggleMetalJerk();" onclick="if(!touchAvailable) ToggleMetalJerk();">Play/Pause</button>
<br>
{% endblock %}
</body>
</html>
